.layout {
    display: flex;
    justify-content: center;
}
.form {
    width: 320px;
   
  }
  
  .label {
    display: flex;
    color:#f7c5ac;
    
    flex-direction: column;
    margin-bottom: 16px;
  }